body {
  font-size: 20px;
}
table, th, td {
  border: 3px solid black;
  user-select: none;
}
.gridelem:hover {
  background-color: grey;
  cursor: pointer;
}

.insert {
  background-color: green;
}
.remove {
  background-color: red;
}